@import "tailwindcss";

/* Importation d'Oswald pour les petits textes de la boutique */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

/* Déclaration de tes fichiers .otf locaux */
@font-face {
  font-family: 'Cheddar Gothic Rough';
  /* Assure-toi que le nom du fichier correspond exactement au tien */
  src: url('./assets/fonts/CheddarGothicRough.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kiln Sans Regular';
  /* Assure-toi que le nom du fichier correspond exactement au tien */
  src: url('./assets/fonts/KilnSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}